/* css/cards.css */

.character-card {
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    width: 60%;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.character-card img {
    width: 200px;
    height: auto;
    margin-bottom: 15px;
}

.character-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.character-card p {
    font-size: 1em;
    color: #555;
}

.character-card ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.character-card ul li {
    margin: 5px 0;
}
