body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff0000;
    color: white;
    padding: 1em;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

#content {
    padding: 20px;
}
